[Desktop Entry]
Version=1.0
Type=Application
Name=FolderME
GenericName=FolderME Music Player
Comment=Plays music
Exec=folderme
TryExec=folderme
Icon=/usr/share/folderme/icons/folderme.png
Terminal=false
Categories=AudioVideo;Player;Qt;Audio;
StartupNotify=false
Actions=PlayPause;Previous;Next;Stop;StopAfterTrack

[Desktop Action PlayPause]
Name=Play/Pause
Exec=folderme --remote playpause

[Desktop Action Previous]
Name=Previous
Exec=folderme --remote prev

[Desktop Action Next]
Name=Next
Exec=folderme --remote next

[Desktop Action Stop]
Name=Stop
Exec=folderme --remote stop

[Desktop Action StopAfterTrack]
Name=Stop After Track
Exec=folderme --remote stop_after_track
