Package: folderme
Version: 1.0
Section: multimedia
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: vanzin@apache.org
Description: Folder-based music player
Depends: python3-jsonpickle,
  pyside6-tools,
  python3-dbus,
  python3-mutagen,
  python3-pyside6.qtmultimedia,
  python3-pyside6.qtuitools,
  python3-requests,
  python3-setproctitle
